:root {
    --primary-color: #270707;
    --background-color: #FFFF99;
    --header-color: #333;
    --link-color: #007bff;
    --border-color: #007e7e;
    --scrollbar-color: blue;
    --scrollbar-thumb-color: rgba(0, 0, 255, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: TF2, 'Courier New', Courier, monospace;
    font-weight: bolder;
    line-height: 1.6em;
    background-color: var(--background-color);
    color: var(--primary-color);
    padding: 10px;
}

h3 {
    color: red;
}

p {
    text-align: left;
}

h4 {
    border-bottom: 1px solid var(--primary-color);
}

em {
    color: red;
}

h5 {
    font-weight: bolder;
    color: darkorange;
}

a:link,
a:visited {
    color: var(--link-color);
    text-decoration: none;
}

header {
    font-size: 20px;
    color: white;
    background-color: var(--header-color);
    text-align: center;
    padding: 20px;
}

#blog {
    text-align: center;
    padding: 0 50px;
    line-height: normal;
}

#centerneed {
    text-align: center;
}

#additionallink {
    text-align: center;
}

.invest01 {
    border: 1px solid black;
    background-color: firebrick;
    padding: 25px;
    margin: 30px;
}

.screen {
    border: 1px solid black;
    background-color: green;
    padding: 25px;
    padding-left: 100px;
    margin: 30px;
    background-image: url(image/screenshotneeded.png);
    background-repeat: no-repeat;
    background-position: top left;
}

#link {
    border: thin solid var(--border-color);
    width: 200px;
    background-color: red;
}

#title {
    margin: 0 50px;
}

.topnav {
    overflow: hidden;
    background-color: #CCCCFF;
    height: 60px;
    text-align: left;
}

.topnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-color);
    cursor: pointer;
}

#myDialog {
    background-color: black;
    position: fixed;
    width: max-content;
    height: max-content;
    z-index: 99999;
    color: blue;
}

footer {
    background-color: blue;
    border: 1px solid black;
    color: black;
    text-align: center;
}

abbr {
    font-variant: all-small-caps;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

figure {
    border: thin solid #c0c0c0;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
