body {
    background-color: black;
    color: blue;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px 10px 10px 10px;
    font-family: TF2, 'Courier New', Courier, monospace;
    font-weight: bolder;
    line-height: 1.6em;
    background-image: url(image/Spy_Scout_Wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h3{
    color: red;
}
.back
{
    color: green;
}

.index_body p {
    border-left: whitesmoke;
    font-size: large;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

h4 {
    border-bottom: 1px solid blue
}

em {
    font-family: serif;
    color: red;
}

h5 {
    font-weight: bolder;
    color: darkorange;
}

header {
    font-size: 20px;
    color: white;
    height: 50%;
    width: 120px;
    text-align: center;
    padding-left: 15px;
    --darkreader-inline-color: #e8e6e3;
}

@font-face {
    font-family: TF2;
    src: url(font/TF2secondary.ttf);
}

.invest01 {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: firebrick;
    padding: 25px;
    margin: 30px;
}

.screen {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: green;
    padding: 25px;
    padding-left: 100px;
    margin: 30px;
    background-image: url(image/screenshotneeded.png);
    background-repeat: no-repeat;
    background-position: top left;
}


#link {
    border-width: thin;
    border-style: solid;
    border-color: #007e7e;
    width: 200px;
    background-color: red;
}
/*fixed 2023-7-4*/
#title {
    margin-left: 50px;
    margin-right: 50px;
}

footer {
    padding: 15px;
    margin: 10px;
    font-size: 90%
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

/* 导航栏容器 */
.topnav {
    overflow: hidden;
    background-color: blue;
    border-radius: 30px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5px;
    padding-right: 5px;
    height: 60px;
    text-align: left;
}

/* 导航栏链接 */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    margin: auto;
}

/* 链接 - 悬停时改变颜色 */
.topnav a:hover {
    background-color: #ddd;
    color: black;

}

footer {
    background-color: var(--darkreader-inline-color);
    text-align: center;
    color: cornflowerblue;
    margin: 10px;
    padding: 15px;
    font-size: 90%;
    clear: both;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: blue;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,255,0.8);
    cursor: pointer;
}

#myDialog
{
    background-color: blue;
    position: fixed;
    width: max-content;
    height: max-content;
}